build/
debug_scripts*
.idea*
.cache

# Build files
*.so
obj/
libs/
ndkpath.txt
*.qmod

build/
qpm_defines.cmake
extern.cmake

# TODO: Ignore
# mod.json

# QPM
extern/
*.backup

# Logs
*.log

profiling/*